 <div class="menu-container">
    <div class="frame screen" *ngIf="menuOpen"
        [ngClass]="{'menu-deploye': menuOpen}">
        <div class="overlap-group">
            <div class="overlap-group2">
                <img class="image-1" src="assets/images/image-1.png"
                    alt="image 1" />
            </div>
            <button class="menu-item" (click)="selectMenu('tickets')">
                <img class="icon" src="assets/images/home.svg"
                    alt="Iconly/Light-Outline/Category" />
                <div class="accueil">Accueil</div>
            </button>
            <button class="menu-item" (click)="selectMenu('messagerie')">
                <img class="icon" src="assets/images/message-circle.svg"
                    alt="Iconly/Light-Outline/Category" />
                <div class="messagerie montserrat-medium-charade-16px">Messagerie</div>
            </button>
            <button class="menu-item" (click)="selectMenu('calendrier')">
                <img class="icon" src="assets/images/calendar_yes.svg"
                    alt="Iconsax/Linear/setting" />
                <div class="parametres montserrat-medium-charade-16px">Emploi du temps</div>
            </button>
            <button class="menu-item">
                <img class="icon" src="assets/images/settings.svg"
                    alt="Iconsax/Linear/setting" />
                <div class="parametres montserrat-medium-charade-16px">Parametres</div>
            </button>
            <button class="menu-item" (click)="logout()">
                <img class="fether-icons-log-out"
                    src="assets/images/log-out.svg" alt="Fether icons / log-out" />
                <div class="deconnexion montserrat-medium-charade-16px">Deconnexion</div>
            </button>
        </div>
    </div>
    <div class="menu-top">
        <button class="menu-toggle" (click)="toggleMenu()">
            <img src="assets/images/menu.svg"
                alt="Iconly/Light-Outline/Category" />
        </button>
        <div class="page-name">{{ pageName }}</div>
    </div>
</div>