.search-and-dropdown {
    display: flex;
    justify-content: space-between;
}

.dropdown-and-add-ticket {
    display: flex;
    align-items: center;
    gap: 20px; // Ajoutez un espace entre le menu déroulant et le bouton
    margin-right:50px;
}

.search-bar {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.search-bar input {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* Styles for the tabs */
.tabs {
    margin-bottom: 20px;
}

.tabs button {
    padding: 10px 15px;
    margin-right: 10px;
    cursor: pointer;
    border: none;
    background-color: #3498db;
    color: #fff;
    border-radius: 5px;
}

/* Styles for the sort options */
.sort-options {
    margin-bottom: 20px;
}

.sort-options button {
    padding: 10px 15px;
    margin-right: 10px;
    cursor: pointer;
    border: none;
    background-color: #2ecc71;
    color: #fff;
    border-radius: 5px;
}

/* Styles for the ticket */
.ticket {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
}
.ticket-id-container {
    display: flex;
    align-items: center;
    gap: 10px;
}
.ticket-title {
    margin-bottom: 5px; /* Ajustez cette valeur en fonction de vos besoins */
}

.ticket-content {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.separator {
    border: none;
    border-top: 1px solid #ccc; /* Bordure de séparation */
    margin: 10px 0; /* Ajoutez un espace au-dessus et en dessous de la bordure */
}

.ticket-details-link {
    display: flex;
    justify-content: flex-end;
    padding: 10px 0; /* Ajoutez un espace au-dessus et en dessous du lien */
}

.ticket-description {
    flex-grow: 1;
    margin-right: 20px;
    margin-top: 5px; /* Ajustez cette valeur en fonction de vos besoins */
}
.ticket-info-container {
    display: flex;
    flex-direction: column;
}

/* Styles for the ticket header */
.ticket-header {
    display: flex;
    justify-content: space-between;
    align-items: flex;
    margin-bottom: 5px;
}


.ticket-number {
    font-size: 1.5em;
}

.etat-indicator {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-left: 10px;
}

.etat-bleu {
    background-color: #3B8AFF;
}

.etat-jaune {
    background-color: #FAC885;
}

.etat-vert {
    background-color: #54C104;
}

/* Styles for the ticket footer */
.ticket-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* Styles for the edit button */
.edit-button {
    display: flex;
    align-items: center;
    background-color: #07357C; /* Fond bleu marine */
    color: white; /* Couleur du texte blanc */
    padding: 10px 20px; /* Marge autour du contenu du bouton */
    border-radius: 5px; /* Coins arrondis */
    cursor: pointer;
    border: none;

    &:hover {
        background-color: #092E5D; /* Fond plus foncé lors du survol */
    }
}

.icon {
    margin-right: 10px; /* Espace entre l'icône et le texte */
}


/* Responsive styles */
@media (max-width: 768px) {
    .tabs button,
    .sort-options button,
    .edit-button {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }
}
.dropdown {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.dropdown-button {

    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
    background-color: #fff;
    color: #333;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 13.7%;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #fff;
}

.dropdown-content label {
    display: block;
    padding: 10px;
    cursor: pointer;
  }

.dropdown-content label:hover {
    background-color: #f0f0f0;
  }

.dropdown:hover .dropdown-content {
    display: block;
}

.add-ticket-button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;

    &:hover {
        background-color: #0056b3;
    }
}

.danger-logo {
    font-size: 20px;
}

.priority-low {
    color: green;
}

.priority-medium {
    color: orange;
}

.priority-high {
    color: red;
}
.priority-indicator {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.button-group {
    display: flex;
    margin-bottom: 10px;
  }
  
  .btn {
    padding: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-right: 50px;
  }
  
  .btn.active {
     border-bottom: solid blue; 
  }

  .btn:last-child {
    margin-right: 0; /* Supprimez l'espace à droite du dernier bouton */
    }
  
  i {
    margin-right: 5px;
    color: darkblue;
  }
  